.*.swp
dist
.cabal-sandbox
cabal.sandbox.config
.ghci
*.o
*.hi
*.chi
*.chs.h
.virthualenv
log

# Project specifics
users.json
site_key.txt
*.cfg
_site
_cache
.sass-cache
bower_components

default.css
default_backup.css
default.css.map
cmun-serif.css

*.png
*.jpg
*.svg
