body {
  font-family: Inconsolata, Monospace;
  text-rendering: optimizelegibility;
  color: #000;
  font-size: 18px;
  margin: 0px auto 0px auto;
}

#top-bar {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  display: inline;
}

h1 a, h1 a:hover {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 16px;
  color: #888;
  display: inline;
  text-transform: capitalize;
}

h3 {
  font-size: 24px;
}

ul#nav li {
  font-size: 14px;
  display: inline;
  text-transform: lowercase;
}

ul#nav a {
  text-decoration: none;
}

div.info {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 1.0em;
}

pre {
  font-size: 16px;
}

.footnoteRef {
  position: relative;
  top: -.5em;
  font-size: 75%;
  vertical-align: baseline;
  line-height: 0;
}

.footnoteRef sup {
  top: 0;
  font-size: 100%;
}

aside.sidenote {
  font-size: 13px;
  pointer-events: none;
}

aside.sidenote p {
  pointer-events: auto;
}

.sidenote .ref-mark {
  display: none;
}

@media (min-width:992px) {
  aside.sidenote {
    position: absolute;
    left: 585px;
    width: 290px;
  }

  .sidenote .vspace {
    height: 40px;
  };
}

@media (min-width:1200px) {
  aside.sidenote {
    position: absolute;
    left: 700px;
    width: 290px;
  }

  .sidenote .vspace {
    pointer-events: none;
    height: 80px;
  };
}

.post {
  margin-bottom: 3em;
}
